@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.slide-banner-left {
  margin-top: auto;
  z-index: 100;
  /* box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5); */
  transform: translateX(-150%) scale(1.2);
  transition: transform 0.7s ease;
}

.slide-banner-left.show {
  transform: translateX(0);
}

.slide-banner-right {
  transform: translateX(100%);
  transition: transform 0.5s ease;
  position: relative;
}

.banner1:hover .slide-banner-right {
  transform: scale(1.05);
}

.banner1:hover .slide-banner-right.second {
  transform: scale(1.03);
}

.slide-banner-right.show {
  margin: auto;
  cursor: pointer;
  transform: translateX(0%);
}

.trapezium-right {
  border-bottom: 45vw solid #f15413;
  border-left: 8.5vw solid transparent;
  height: 0;
  width: 100%;
}

.trapezium-right-3 {
  border-bottom: 45vw solid #57a70b;
  border-left: 8.5vw solid transparent;
  height: 0;
  width: 100%;
}

.trapezium-left {
  border-top: 45vw solid #ffa743;
  border-right: 9.5vw solid transparent;
  height: 0;
  width: 100%;
}

.slogan {
  position: absolute;
  font-family: Century Gothic;
  margin-top: 6vw;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.2s;
}
.slogan2 {
  position: absolute;
  margin-top: -86%;
  margin-left: 10px;
  font-family: Century Gothic;
  font-size: 5.7vw;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.2s;
}

.banner1:hover .slogan {
  text-decoration-color: #fff;
}

.banner1:hover .slogan2 {
  text-decoration-color: #fff;
}

/* TEMP */
/*Homepage msg-banner*/
#container-banner-msg {
  margin: 0px;
  text-align: center;
  font-weight: bolder;
  color: #616161;
  text-transform: uppercase;
  font-size: 3.5vmin;
  font-weight: bold;
  padding-top: 5vw;
  position: relative;
  width: 100%;
  display: block;
}

#flip-word {
  height: 50px;
  overflow: hidden;
}

#flip-word > div > div {
  color: #fff;
  padding: 4px 16px;
  height: 50px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip-word div:first-child {
  animation: show-word 5s linear infinite;
}

#flip-word div div {
  background: #42c58a;
}
#flip-word div:nth-child(1) div {
  background: #87c830;
}
#flip-word div:nth-child(2) div {
  background: #ffd400;
}
#flip-word div:nth-child(3) div {
  background: #fe7e0f;
}

@keyframes show-word {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/*Homepage msg-banner ends*/

.kheti {
  font-family: "Noto Sans", sans-serif;
  font-size: 60px;
}

.hindi {
  font-family: "Noto Sans", sans-serif;
  font-size: 35px;
  line-height:60px;
  margin-right: 20px;
  margin-top: 40px;
  color: black;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  color: #000;
}

.counter-container span {
  font-size: 20px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
