@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.socials {
  margin-left: 50px;
  margin-bottom: 0;
}

.buttons {
  text-align: center;
}

.border-1 {
  border: 1px solid #eee;
}

.team {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  height: 340px;
  width: 95%;
  border: 2px solid #000;
}

.team-title {
  font-size: 22px;
}

.team-post {
  font-weight: bold;
  font-size: 18px;
}

.team-img {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to right, #fff 50%, transparent);
}

.team-body {
  padding-left: 50px;
  padding-top: 0px;
}

.mediaBtn {
  text-decoration: none;
  padding: 13px;
  height: 100%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}

.mediaBtn.facebook {
  color: #4267b2;
  border: 3px solid #4267b2;
}

.mediaBtn.facebook:hover {
  background-color: #4267b2;
  color: #fff;
}

.mediaBtn.instagram {
  color: #e1306c;
  border: 3px solid #e1306c;
}

.mediaBtn.instagram:hover {
  background-color: #e1306c;
  color: #fff;
}

.mediaBtn.twitter {
  color: #1da1f2;
  border: 3px solid #1da1f2;
}

.mediaBtn.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.mediaBtn.linkdin {
  color: #2867b2;
  border: 3px solid #2867b2;
}

.mediaBtn.linkdin:hover {
  background-color: #2867b2;
  color: #fff;
}

.slider {
  width: 300px;
  height: 50px;
  overflow: hidden;
}

.slides {
  width: 300%;
  height: 600px;
  display: flex;
}

.slide {
  width: 50%;
  transition: 2s;
  margin-left: -75px;
}

.slide img {
  width: 300px;
  height: 500px;
}

.slide.first {
  margin-left: -420px;
}

.partners {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 0.3s;
}

.partners.one {
  height: 150px;
}

.partners.two {
  height: 70px;
}

.partner-grp:hover .partners {
  -webkit-filter: none;
}

.partner-name {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  text-align: right;
  right: 0;
  margin: 0 auto;
}

.awards {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 40px;
  color: #000;
  list-style-type: circle;
}

.awards:hover {
  background-image: linear-gradient(to right, #f15413, #ffa743, #57a70b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.imgs {
  margin: 20px;
  height: 300px;
}

.kisan-mob {
  margin: auto;
}

.farmImgs2 {
  visibility: hidden;
}

/* GALLERY SLIDER */

.gallery-slider {
  width: 800px;
  height: 800px;
  border-radius: 10px;
  /* border: 3px solid #ec7b10; */
  overflow: hidden;
  margin: 0 auto;
}

.gallery-slides {
  width: 500%;
  height: 800px;
  display: flex;
}

.gallery-slides input {
  display: none;
}

.gallery-slide {
  width: 20%;
  transition: 2s;
  /* border: 3px solid #ec7b10; */
}

.gallery-slide img {
  width: 800px;
  height: 800px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ec7b10;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #ec7b10;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 805px;
}

.navigation-auto div {
  border: 2px solid #ec7b10;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #ec7b10;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #ec7b10;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #ec7b10;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #ec7b10;
}

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  max-width: 920px;
  margin: 80px auto;
  align-self: center;
}

/* Blockquote header */
.blockquote h1 {
  font-family: "Abril Fatface", cursive;
  position: relative; /* for pseudos */
  color: #e74848;
  font-size: 3.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
  content: "";
  position: absolute;
  border: 2px solid #e74848;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -60px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockquote h1:before {
  content: "";
  position: absolute;
  width: 80px;
  border: 6px solid #fff;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 5rem;
    line-height: 1.2;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

.blockquote h4:first-letter {
  margin-left: -12px;
}

/* ===FOOTER=== */
section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: rgba(236, 123, 16, 0.8);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 100px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: middle;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #57a70b;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 20px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 22px;
  line-height: 43px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
  font-size: 20px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #57a70b;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.phone {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  margin: 15px;
  border: 1px solid #fff;
  color: #fff;
}

.phone_btn {
  margin: 15px 0 15px;
  background: #fff;
  display: inline-block;
  padding: 18px 44px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #09cc7f;
  letter-spacing: 3px;
  text-align: center;
  color: #034347;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.phone_btn:active {
  box-shadow: none;
  transform: translateY(4px);
}

.phone_btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.phone_btn:focus {
  outline: none;
}

#status {
  width: 400px;
  color: #000;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: auto 15px;
  border-radius: 10px;
  font-size: 20px;
}

.kheti {
  font-family: "Noto Sans", sans-serif;
  font-size: 60px;
}

.hindi {
  font-family: "Noto Sans", sans-serif;
  font-size: 35px;
  line-height: 60px;
  margin-right: 20px;
  margin-top: 40px;
  color: black;
}

.download {
  font-size: 45px; 
  font-weight: bolder;
}

.english {
  font-size: 30px;
  line-height: 60px;
  margin-right: 20px;
  margin-top: 40px;
  color: black;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  color: #000;
}

.counter-container span {
  font-size: 20px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

/* HINDI ENGLISH TOGGLE */

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 140px;
}

.toggle {
  visibility: hidden;
}

.label {
  position: relative;
  background-color: #ffa743;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
}

.toggle:checked + .label {
  background-color: #57a70b;
}

.ball {
  background-color: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(20px) scale(1.2);
  }

  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }

  50% {
    transform: translateX(20px) scale(1.2);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

.hide {
  display: none;
}
