.ntaalimage {
	height: 450px;
	width: 810px;
}

.container {
	margin-top: 10px;
}

.head1 {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 35px;
	color: #000000;
	text-align: left;
}

.para1 {
	font-size: 23px;
	margin-left: 50px;
	text-align: left;
	color: black;
}

.col1{
	margin-top: 90px;
	text-align: center;
}

.col2 {
	margin-top: 70px;
}
.our-approach {
   width: auto;
   height: 1400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   object-fit: contain;
}​

.vertical { 
	border-left: 6px solid #f5f5f5; 
    height: 200px; 
    position:absolute; 
    left: 50%; 
} 
.ntaal-bg {
	height: 100px
	width: 100px;

}
.contain {object-fit: contain;}

.research {
	background: #FFFFFF;
	margin-top: 70px;
	border-radius: 50px;
	margin-left: 30px;
}
.research p {
	margin-left: 40px;
	margin-right: 50px;
	color: grey;
	font-size: 25px;
	font-family: 'Bahnschrift Regular';
	margin-bottom: 30px;
}
.research h1 {
	text-align: center;
	font-family: 'Bahnschrift Regular';
	font-size: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.build {
	background: #FFFFFF;
	margin-top: 80px;
	border-radius: 50px;
	margin-left: 90px;
}
.build p {
	margin-left: 50px;
	margin-right: 60px;
	color: grey;
	font-size: 25px;
	font-family: 'Bahnschrift Regular';
	margin-bottom: 40px;
}
.build h1{
	text-align: center;
	font-family: 'Bahnschrift Regular';
	font-size: 45px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.build hr {
	width: 20px;
	color: #FFFFFF;
}
.evaluate {
	background: #FFFFFF;
	margin-top: 70px;
	border-radius: 50px;
	margin-left: 40px;
}
.evaluate p {
	margin-left: 50px;
	margin-right: 60px;
	color: grey;
	font-size: 25px;
	font-family: 'Bahnschrift Regular';
	margin-bottom: 40px;
}
.evaluate h1 {
	text-align: center;
	font-family: 'Bahnschrift Regular';
	font-size: 45px;
	margin-top: 20px;
}


#hero {
  width: 100%;
  height: 80vh;
  background: #FFFFFF;
  padding-top: 42px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #3e4450;
}

#hero h2 {
  color: #858ea1;
  margin: 10px 0  30px 0;
  font-size: 24px;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
	margin-top : 20px;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}



.footer-text-font {
	font-family: 'Bahnschrift Regular';
	font-style: normal;
	font-weight: normal;
}

.footer-rows {
	margin-bottom: 40px;
	color: black;
	text-decoration-color: black;
}

.footer-line1 {
	font-family: 'Bahnschrift Regular';
	font-size: 1.6rem;
	color: black;
}

.footer-line2 {
	font-family: Roboto Regular;
	font-size: 1.4rem;
	color: #EC920A;
}

.footer-col {
	margin-bottom: 30px;
}
.footer-col1 {
	font-family: 'Bahnschrift Regular';
	color: #808080;
	font-size: 20px;
}

.social-icons {
	width: 40px;
	height: 40px;
	margin-right: 40px;
}
.icons-row{
	align-content: center;
	margin-top: 30px;
    margin-left: 350px;
    margin-bottom: 40px;
}
